html {
    position: relative;
}

body {
    height: 100%;
    margin: 0 0 100px;
    position: relative;
}


.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#navbar{
  margin-bottom: 40px;
  height: 100%;
}

.page-body{
  flex: 1;
  padding-bottom: 2.5rem;
  position: relative;
  min-height: 100%;
  margin-bottom: -50px;
}

#footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  width:100%;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
  flex-shrink: 0;
}

#us_map_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#state_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#base-model-dropdown{
  width:40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#us_map_dropdown-vent{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#transfer_list{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: 5%;
	margin-right: 5%;
}

#base-model-dropdown{
    width:40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

.team-card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card{
  border-color: #800020;
  background-color: #e6e6e6;
  text-align: center;
}

.team-card:hover{
  border-color: #0000A0;
}
