html {
    position: relative;
}

body {
    height: 100%;
    margin: 0 0 100px;
    position: relative;
}


.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#navbar{
  margin-bottom: 40px;
  height: 100%;
}

.page-body{
  flex: 1;
  padding-bottom: 2.5rem;
  position: relative;
  min-height: 100%;
  margin-bottom: -50px;
}

#footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  width:100%;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
  flex-shrink: 0;
}
