#submit-features-calc{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-infection{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-wrapper{
  display: flex;
  justify-content: center;
}

.calc-submit-button {
    height: 110px;
    width: 250px;
    font-size: 22px;
}
