#submit-features-calc{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-infection{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-wrapper{
  display: flex;
  justify-content: center;
}

.calc-submit-button {
    height: 110px;
    width: 100%;
    font-size: 22px;
}

.treatments-tab {
    background-color: white !important;
    color: lightgrey;
    font-size: 25px;
}

.treatments-tab--selected {
    background-color: rgba(0, 0, 0, 0.03) !important;
    font-size: 25px;
    font-weight: 200;
}

.proj-expand-btn {
    border-radius: 0px !important;
    max-width: 170px !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    background-color: #A31F34 !important;
    border: none !important;
    justify-content: space-evenly !important;
}
