#submit-features-calc{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-infection{
  color: white;
  background-color: #800020 !important;
}

#submit-features-calc-wrapper{
  display: flex;
  justify-content: center;
}

.calc-submit-button {
    height: 110px;
    width: 100%;
    font-size: 22px;
}

.treatments-tab {
    background-color: white !important;
    color: lightgrey;
    font-size: 25px;
}

.treatments-tab--selected {
    background-color: rgba(0, 0, 0, 0.03) !important;
    font-size: 25px;
    font-weight: 200;
}