.dcc_dropdown {
    cursor: pointer !important;
}

.temp-dropdown {
    width: 40px;
    margin-right: 20px;
}

.temp-input {
    border-radius: 4px 0px 0px 4px !important;
}

.temp-dropdown .Select-control {
    min-height: 48px;
    width: 60px;
    border-left-width: 0px !important;
    border-radius: 0px 4px 4px 0px !important;
}

.temp-dropdown .Select-value {
    padding-top: 2px;
}

.temp-dropdown span {
    line-height: 45px;
}

.feature-dropdown .Select-control {
    min-height: 48px;
    width: 100%;
}

.feature-dropdown span {
    line-height: 48px;
}

/** Needed to override Cursor in dcc.Dropdown **/
.Select-control {
    cursor: pointer !important;
}

#us_map_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#state_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#base-model-dropdown{
  width:40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#us_map_dropdown-vent{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#date-projections-picker-div{
  text-align: center;
}

#base-model-dropdown{
    width:40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

#\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"mortality\"\}{
  width:1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"infection\"\}{
  width:1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1300px) {
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"mortality\"\} {
        width:900px;
    }
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"infection\"\} {
        width:900px;
    }
}
@media (max-width: 1000px) {
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"mortality\"\} {
        width:600px;
    }
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"infection\"\} {
        width:600px;
    }
}
@media (max-width: 800px) {
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"mortality\"\} {
        width:400px;
    }
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"infection\"\} {
        width:400px;
    }
}
@media (max-width: 600px) {
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"mortality\"\} {
        width:300px;
    }
    #\{\"index\"\:\"calc-multidrop-0\"\,\"type\"\:\"infection\"\} {
        width:300px;
    }
}

.nav-links-dd{
  padding-bottom: 0.1rem  !important;
  padding-top: 0.07rem  !important;
  margin-top: 10px  !important;
  margin-bottom: 10px  !important;
  line-height: 50px !important;
}


#language-calc-wrapper{
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.flat-date-picker {
    color: white;
}

.flat-date-picker input {
    background-color: black;
    color: white;
    border: none;
    text-align: right;
    padding: 10.5px 0;
    padding-bottom: 10px;
    font-size: 30px;
}

.flat-date-picker .DateInput {
    width: 205px !important;
}

.flat-date-picker input::placeholder {
    opacity: 1;
}

.flat-date-picker .SingleDatePickerInput {
    border-width: 0px;
    border-bottom-width: 2px;
}

.flat-date-picker::before {
    content: "For";
    color: grey;
    font-size: 20px;
    bottom: 10px;
    left: 5px;
    position: absolute;
    z-index: 10;
}

.flat-location-picker {
    position: relative;
    z-index: 20;
    width: 205px;
    height: 100%;
    min-height: 57px;
}

.flat-location-picker .Select-arrow-zone {
    background-color: black;
}

.flat-location-picker .Select-arrow-zone span {
    vertical-align: middle;
}

.flat-location-picker .Select-control {
    background-color: black;
    border-width: 0px;
    border-bottom-width: 2px;
    border-radius: 2px;
    height: 100%;
}

.flat-location-picker .Select-value {
    text-align: center;
    padding-right: 30px !important;
}

.flat-location-picker .Select-value span {
    position: relative;
    display: inline-block;
    padding-top: 11px;
    margin-left: 15px;
    paddin-left: 25px;
    z-index: 30;
    background-color: black;
}

.flat-location-picker span {
    font-family: "Ubuntu" !important;
    color: white !important;
    background-color: black;
    font-size: 25px;
    position: relative;
    z-index: 40;
}

.flat-location-picker::before {
    content: "In";
    font-family: "Ubuntu" !important;
    color: grey;
    font-size: 20px;
    bottom: 10px;
    left: 5px;
    position: absolute;
    z-index: 10;
}

.flat-map-drop {
    width: 100% !important;
}

.flat-map-drop {
    font-size: 20px;
    height: 55px;
}

.flat-map-drop .Select-value span {
    margin-left: 80px !important;
    margin-right: auto !important;
    margin-top: 3px;
}

.flat-map-drop::before {
    content: "Showing"
}

.flat-radio-label {
    color: white !important;
}

.flat-map-scale::before {
    content: "With scale" !important;
}


.flat-map-scale .Select-value span {
    margin-left: 95px !important;
    margin-right: auto !important;
    margin-top: 3px;
}
