#us_map_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#state_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#base-model-dropdown{
  width:40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#us_map_dropdown-vent{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#date-projections-picker-div{
  text-align: center;
}

#base-model-dropdown{
    width:40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

#calc-multidrop-0{
  width:1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1300px) {
    #calc-multidrop-0 {
        width:900px;
    }
}
@media (max-width: 1000px) {
    #calc-multidrop-0 {
        width:600px;
    }
}
@media (max-width: 800px) {
    #calc-multidrop-0 {
        width:400px;
    }
}
@media (max-width: 600px) {
    #calc-multidrop-0 {
        width:300px;
    }
}

.nav-links-dd{
  padding-bottom: 0.1rem  !important;
  padding-top: 0.05rem  !important;
  margin-top: 0  !important;
  margin-bottom: 0  !important;
  line-height: 80px !important;
}
