#us_map_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#state_dropdown{
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#base-model-dropdown{
  width:40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#us_map_dropdown-vent{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#date-projections-picker-div{
  text-align: center;
}

#base-model-dropdown{
    width:40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
