
h2 {
    line-height: 60px;
    color: black;
    margin-bottom: 40px;
}

h4 {
    color: black;
}

h5 {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
h6 {
     margin-top: 5px;
     color: black;
}

P {
    color: black;
}


#date-projections{
  margin-top: 10px;
  text-align: center;
}


.card-title{
  color: #800020;
  font-size: 21px;
  font-weight: bold;
}


.team-name{
  text-align: center;
  color: #800020;
}
.team-name:hover{
  color: #0000A0;
  text-decoration: none;
}

.press-source{
  font-style: italic;
}

.press-title{
  color: #800020;
  font-style: bold;
}

#imputed-text-infection{
  text-align: center;
}

#imputed-text-mortality{
  text-align: center;
}
