html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0 0 100px;
    position: relative;
}

#navbar{
  margin-bottom: 40px;
}

.page-body{
  padding-bottom: 2.5rem;
  position: relative;
}

#footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width:100%;
  height: 100px;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
