h1 {
    height: 60px;
    line-height : 100%;
    padding-top : 18px;
    border-bottom: thin lightgrey solid;
    color: #1E74F0;
}

h2 {
    height: 40px;
    line-height: 60px;
    color: black;
    margin-bottom: 40px;
}

h4 {
    height: 30px;
    color: black;
}

h5 {
    height: 20px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
h6 {
     height: 15px;
     margin-top: 5px;
     color: black;
}

P {
    color: black;
}

#data-table {
  margin-top: 20px;
}

#date-projections{
  margin-top: 10px;
  text-align: center;
}

#date-projections-picker-div{
  text-align: center;
}

#us-stats-cards{
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
