h1 {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    color: deeppink
}

h2 {
    height: 40px;
    line-height: 60px;
    color: white;
    margin-bottom: 40px;
}

h4 {
    height: 30px;
    color: white;
}

h5 {
    height: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
h6 {
     height: 15px;
     margin-top: 5px;
     color: white;
}

P {
    color: white;
}
