
h2 {
    line-height: 60px;
    color: black;
    margin-bottom: 40px;
}

h4 {
    color: black;
}

h5 {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
h6 {
     margin-top: 5px;
     color: black;
}

P {
    color: black;
}

#data-table {
  margin-top: 20px;
}

#date-projections{
  margin-top: 10px;
  text-align: center;
}

#date-projections-picker-div{
  text-align: center;
}

#us-stats-cards{
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
